In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/kanishk/Downloads/ipl2017 (1).csv")

In [3]:
df.head()

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222

In [4]:
y=df["total"]

In [5]:
x=df.drop("total",axis=1)

In [6]:
x=x.drop("date",axis=1)

In [7]:
x.head()

,mid,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker
0,1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0
1,1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0
2,1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0
3,1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0
4,1,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0

In [8]:
x.isna().sum()

mid               0
venue             0
bat_team          0
bowl_team         0
batsman           0
bowler            0
runs              0
wickets           0
overs             0
runs_last_5       0
wickets_last_5    0
striker           0
non-striker       0
dtype: int64

In [9]:
x.dtypes

mid                 int64
venue              object
bat_team           object
bowl_team          object
batsman            object
bowler             object
runs                int64
wickets             int64
overs             float64
runs_last_5         int64
wickets_last_5      int64
striker             int64
non-striker         int64
dtype: object

In [10]:
y.isna().sum()

0

In [11]:
y.dtypes

dtype('int64')

In [12]:
x=pd.get_dummies(x,columns=["bat_team"])

In [13]:
x=pd.get_dummies(x,columns=["venue"])

In [14]:
x=pd.get_dummies(x,columns=["bowl_team"])

In [15]:
x=pd.get_dummies(x,columns=["batsman"])

In [16]:
x=pd.get_dummies(x,columns=["bowler"])

In [17]:
x.head()

,mid,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,bat_team_Chennai Super Kings,bat_team_Deccan Chargers,...,bowler_WPUJC Vaas,bowler_Washington Sundar,bowler_Y Gnaneswara Rao,bowler_Y Nagar,bowler_Y Venugopal Rao,bowler_YA Abdulla,bowler_YK Pathan,bowler_YS Chahal,bowler_Yuvraj Singh,bowler_Z Khan
0,1,1,0,0.1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0.2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,2,0,0.2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,2,0,0.3,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2,0,0.4,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
type(x)

pandas.core.frame.DataFrame

In [19]:
x.shape

(76014, 811)

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [23]:
scaler=MinMaxScaler()

In [24]:
x_train=scaler.fit_transform(x_train)

In [25]:
x_test=scaler.transform(x_test)

In [26]:
from sklearn.ensemble import RandomForestRegressor

In [27]:
model=RandomForestRegressor(n_estimators=100,oob_score=True)

In [28]:
model.fit(x_train,y_train)

RandomForestRegressor(oob_score=True)

In [29]:
model.score(x_test,y_test)

0.9724064606760279

In [30]:
model.oob_score_

0.9702519776006139